/* 전역 스타일로 모든 컴포넌트에 영향을 줌 */

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-family: "Pretendard", Sans-serif;
  font-size: 16px;
}

body * {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

table {
  border-collapse: collapse;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
}


a {
    box-sizing: border-box;
    background: transparent;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

div,
p,
li,
span,
em,
strong,
a {
    word-break: keep-all;
    word-wrap: break-word;
}

body {
    font-family: "SUITE", "sans-serif", "Arial";
    font-family: 'SF Pro';
    letter-spacing: -0.01em;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    color: #000;
    font-size: 14px;
    background: transparent;
    height: 100vh;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border: 0 none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input,
select,
textarea {
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 0;
    font-family: SUITE, "sans-serif", "Arial";
    font-family: 'SF Pro';
    font-size: 1em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input {
    margin: 0;
    cursor: pointer;
}

input::-ms-clear {
    display: none;
}

input:focus {
    outline: 1px solid var(--Dark-2, #424A53);
    border: 1px solid var(--Dark-2, #424A53);
}

input:focus-visible {
    outline: 1px solid var(--Dark-2, #424A53);
    border: 1px solid var(--Dark-2, #424A53);
}

select::-ms-expand {
    display: none;
}

input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: inherit;
    box-sizing: border-box;
}

img,
fieldset {
    border: 0;
}

ul,
ol,
li {
    list-style-type: none;
}

li img {
    vertical-align: top;
}

button {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    font-family: "SUITE", "sans-serif", "Arial";
    font-family: 'SF Pro';
    font-size: 1em;

    font-size: 0;
}

a {
    text-decoration: none;
    font-family: "SUITE", "sans-serif", "Arial";
    font-family: 'SF Pro';
}

img {
    vertical-align: middle;
    font-size: 0;
}

p,
span {
    word-break: auto-phrase;
}

.text-indent {
    text-indent: -9999px;
}

/* dark theme */
/* [data-theme="dark"] {
    --font-color: #fff;
    --link-color: #00DE5A;
    --link-white-color: #c1bfbd;
    --bg-color: #333;
} */

.inputBox input:focus-visible{
    outline:none;
    border:none;
}

.inputBox input:focus{
    outline:none;
    border:none;
}

img {
    display: block;
    /* margin: 0 auto; */
}

img.light {
    display: block;
}

img.dark {
    display: none;
}

.dark-mode img.light{
    display: none;
}

.dark-mode img.dark{
    display: block;
}